<!DOCTYPE html>
<html>
<head>
<title>Intelligent CI/CD</title>

<style>

body{
margin:0;
font-family:Arial;
background:#0f1b2d;
color:white;
}

.topbar{
display:flex;
justify-content:space-between;
padding:15px 30px;
background:#16233a;
}

a{
color:white;
text-decoration:none;
margin-left:15px;
}

.container{
text-align:center;
margin-top:120px;
}

input{
width:400px;
padding:12px;
border:none;
border-radius:6px;
}

button{
padding:12px 25px;
border:none;
background:#3498db;
color:white;
border-radius:6px;
cursor:pointer;
}

button:hover{
background:#2980b9;
}

</style>

</head>

<body>

<div class="topbar">

<div>
<b>Intelligent CI/CD</b>
</div>

<div>

<a href="/dashboard">Dashboard</a>

{% if role == "superadmin" %}
<a href="/admin-panel">Admin Panel</a>
{% endif %}

<a href="/logout">Logout</a>

</div>

</div>


<div class="container">

<h1>Deploy Repository</h1>

<form action="/analyze" method="POST"
onsubmit="return confirm('Start CI/CD deployment for this repository?')">

<input name="repo_url" placeholder="Enter GitHub Repo URL" required>

<br><br>

<button>Analyze & Deploy</button>

</form>

</div>

</body>
</html>